.about-slider__section {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
   
}

.about-slider__area {
    display: flex;
    height: 100%;
    margin: 0% 8%;
}
.about__left {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 500px;
    overflow: auto;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: left;
    width: 30%;
    background: #FDCB6E;
    padding: 40px;
    box-shadow: 2px 8px 6px rgb(0 0 0 / 10%);
}
.ab-profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 8px 6px rgb(0 0 0 / 10%);
}
.profile-worker__name {
    color: #444;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 14px;
}
.ab-socal__link {
    list-style: none;
    margin-top: 50px;
}
.ab-socal__link a{
    padding: 4px 10px;
    border-radius: 4px;
    color: #000;
    background: #FFF;
    margin: 0 4px;
    transition: all .3s;
}
.ab-socal__link a:hover {
    box-shadow: 2px 8px 6px rgb(0 0 0 / 10%);
}
.profile-work__title{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.about__left p{
    margin-top: 20px;
    color: #888;
}
.about__right {
    background: #6ea0fd;
    width: 70%;
    float: right;
    padding: 40px;
    padding-top: 0px;
    height: 500px;
    overflow: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 8px 6px rgb(0 0 0 / 10%);
}
.about__content-btn {
    text-align: center;
    background: #FDCB6E;
    border-radius: 10px;
}
.about__content-btn li {
    display: inline-block;
}
.about-link-btn {
    text-decoration: none;
    padding: 8px 20px;
    color: rgb(151, 146, 146);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
.about-link-btn:nth-child(2) {
    border-left: none;
}